.login {
  font-size: 26px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #2c353d;
  padding: 8px;
  border-radius: 12px;
  cursor: pointer;
  transition:
    transform 0.3s ease,
    background-color 0.3s ease;

  &:hover {
    transform: scale(1.05);
    background-color: #ff571a;
  }
}

.name {
  font-size: 24px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.name span {
  transition:
    transform 0.3s ease,
    color 0.3s ease;

  &:hover {
    transform: scale(1.03);
    color: #ff571a;
  }
}

.logout {
  margin-left: 10px;
  cursor: pointer;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.05);
  }
}
