.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.2s ease;

  &:hover {
    transform: scale(1.05);
  }
}

.image {
  width: 70px;
  height: 70px;
}

.text {
  margin-left: 10px;
  font-size: 26px;
  font-weight: 800;
  color: #ff571a;
  font-style: italic;
}
