.post {
  position: relative;
  min-width: 300px;

  padding: 8px;
  background-color: #2c353d;
  border-radius: 16px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition:
    /* transform 0.3s ease, */ box-shadow 0.3s ease;

  &:hover {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    /* transform: scale(1.005); */
  }
}

.buttonsContainer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  top: 10px;
  right: 10px;
}

.title {
  font-size: 20px;
  margin-right: 80px;
}

.body {
  margin-right: 10px;
  margin-top: 10px;
  font-size: 16px;
  display: -webkit-box; /* Используем flexbox с ограничением строк */
  -webkit-line-clamp: 3; /* Ограничиваем до 3 строк */
  -webkit-box-orient: vertical; /* Вертикальная ориентация */
  overflow: hidden; /* Скрываем переполнение */
  text-overflow: ellipsis;
  flex-grow: 1;
}

.info {
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.infoItem {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.icon {
  cursor: pointer;
  transition: transfrom 0.3s ease;

  &:hover {
    transform: scale(1.03);
  }
}

.userInfo {
  margin-right: 6px;
  margin-left: auto;
  font-size: 16px;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.userName {
}

.date {
}
